# Node modules
node_modules/

# Config files
.env

# Logs
logs/
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# Output
dist/
build/

# IDEs
.vscode/
.idea/

# Exclude package-lock.json
package-lock.json

# Exclude models folder
server/models/
